/* FIXED SIZE. STILL SPACING ISSUES ESP ON THANK YOU PAGE */


body{
    background:hsl(220, 12%, 5%);
}

/* MAIN DIV THAT HOLDS TEXT AND BUTTONS */
.text{
    background:linear-gradient(0deg,hsl(216, 12%, 8%),40%,hsl(213, 19%, 18%));
    height: 320px;
    max-width:330px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
}


#rate-buttons{
  display: flex;
  justify-content: space-between;
  max-width: 330px;
  padding: 10px 0;
}

button{
  background:hsl(214, 20%, 23%);
  border-radius: 50%;
  border:none;
  color:hsl(216, 12%, 54%);
  font-weight: 400;
  font-size: 15 px;
  /* margin-left: 3%;
  margin-right: 2%; */
}
/* Gave them individual css objects bc when grouped together the width was being diminished for some reason
(ie, 1 was narrower than 2, which was narrower than 3, etc.)*/
/* NOT THE RIGHT FONT */


/* BUTTON CODE BEGIN */
#one, #two, #three, #four, #five{
  padding-top:16px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 15px;
}

/* unvisited link*/
.number:link {
    background-color:hsl(214, 20%, 23%);
    color:hsl(216, 12%, 54%);
    text-decoration: none;
  }

  
/*visited link*/
.number:focus {
    background-color:hsl(216, 12%, 54%);
    color:white;
    text-decoration: none;
  } 

  /*mouse over link*/
.number:hover {
    background-color: hsl(25, 97%, 53%);
    color:white;
    text-decoration: none;
}


/* BUTTON CODE END */


h2{
    color:white;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}

p{
    color:hsl(216, 12%, 54%);
    font-weight: 400;
    font-size: 15px;
    margin-bottom:8px;
}

#star{
    background:hsl(214, 20%, 23%);
    padding:15px;
    border-radius: 50%;
}

/* buttons are grey circles, centered in body */

/*SUBMIT BUTTON START*/
#submit{
    width: 330px;
    border-radius: 80px;
    text-align: center;
    padding-top:13px;
    padding-bottom:13px;
    position: inherit;
    bottom:7%;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 15px;
    

}
  /* unvisited link*/
#submit:link {
    background-color:hsl(25, 97%, 53%);
    color:white;
    text-decoration: none;
  }

  
/*visited link*/
#submit:visited {
    background-color:hsl(25, 97%, 53%);
    color:white;
    text-decoration: none;
  } 

  /*mouse over link*/
#submit:hover {
    background-color: white;
    color:hsl(25, 97%, 53%);
    text-decoration: none;
}

#submit.active{
    text-decoration: none;

}
/*SUBMIT BUTTON END*/

/*THANK YOU PAGE START*/
#thank-you-image{
  display:block;
  margin:auto;
  width:162px;
  padding-top:20px;
}

h3{
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color:hsl(25, 97%, 53%);
  background:hsl(214, 20%, 23%);
  padding:10px;
  border-radius: 25%;
}

#thanks{
  text-align: center;
}

#ty-text{
  text-align: center;
}
/*THANK YOU PAGE END*/

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }